---
import ContentSection from "~/components/content-section.astro";
---


<ContentSection title="Get Involved" id="getinvolved">
  <Fragment slot="lead">
    Use the link below to join the clare tennis Facebook group. This will allow you to be added to the messenger chat
    <br />
    <br />
    All events will be posted in the chat as well as appear on the website.
    <br />
    <br />
    You will also be able to ask any question or ask the group if anyone wants hit.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://m.facebook.com/groups/985799011983001/?ref=share"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
    <img width="40" height="40" src="https://img.icons8.com/ios/50/facebook-messenger--v1.png" alt="facebook-messenger--v1"/>
      <span>Join the chat</span>
    </a>
    <a
    href="mailto:ahpd2@cam.ac.uk?subject=Tennis Soc 2023-24 Question"
    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
    <img width="40" height="40" src="https://img.icons8.com/ios-glyphs/60/new-post.png" alt="facebook-messenger--v1"/>
        <span>Any Questions</span>
    </a>
    </div>
</ContentSection>


<style>
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
</style>