---
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Weekly Matches",
    description:
      "We enter the inter-college Cuppers competition (which runs in Michaelmas and Lent terms), where you have the chance to showcase your skills in a 1 set sudden death match!",
    icon: "https://img.icons8.com/ios-glyphs/60/tennis-2.png",
  },
  {
    title: "Practice Sessions",
    description:
      "These will be organised every week and will take place in the clare college sports ground. There will be a rendez-vous at memorial court for those who have never been, and will take place if a minimum signup is achieved.",
    icon: "https://img.icons8.com/ios-filled/50/tennis.png",
  },
  {
    title: "Social Events",
    description:
      "Socials may be organised throughout the year, including formals and viewing events of the major Grand Slam’s. ",
    icon: "https://img.icons8.com/ios-filled/50/champagne.png",
  },
];
---

<ContentSection title="Activities Available" id="features">
  <Fragment slot="lead">
    Find below the activities on offer with the clare tennis society.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <img src={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
