---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="Events Coming Up" id="events">
  <Fragment slot="lead">
    Here you can find and register to all the events happening at clare tennis, including inter-collegiate
    matches, practice sessions and social events.
    <br />
    <br />
    NOTE: I've had to disable the form signups for the welcome event because according to the groundsman Clare college has sold the sports ground to the cambridge united 
    football team over the summer, so we no longer have access to it! This is 
    something that still needs to be confirmed as noone seems to be aware of it, but the tennis courts 
    have been taken down and are now unavailable. As such ill do my best to try and find an alternate
     venue (I'll message other college reps to see if we could borrow their sports ground for a few hours) so I'll come back to you when I have something concrete. 
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <!-- <p class="text-right text-sm">
      <a class="text-primary" href="https://astro.build/showcase/">
        ...and more &rarr;
      </a>
    </p> -->
  </div>
</ContentSection>
