---


const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <!-- <Starfield /> -->
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2
      class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <img 
        src="/clare-logo.png"
        loading="eager"
        alt="Clare Logo"
        width="200" 
        height="200"
        class="center"
        />
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl clare-style"
      >
        Welcome to
        <br /> Clare College
        <br /> Tennis.
      </div>
    </h2>
    <div
      id="astronaut"
      class="w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start"
    >
    <img
    class="h-full w-full object-cover"
    src="/tennis-racket-no-bg.png"
    widths={widths}
    sizes={sizes}
    loading="eager"
    alt="tennis racket"
  />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  .clare-style{
    color:yellow;
  }

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
</style>
